<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDAqlwTlgQzCe4E4aMHVwk_osMoLOPEYD8</string>
	<key>GCM_SENDER_ID</key>
	<string>83769187560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projetoTopicos</string>
	<key>PROJECT_ID</key>
	<string>projeto-topicos-cf5ee</string>
	<key>STORAGE_BUCKET</key>
	<string>projeto-topicos-cf5ee.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83769187560:ios:56ec5f37ac2ca3e8807d5d</string>
</dict>
</plist>